.container {
  border: 1px solid #4f4d4d;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 2rem;
}

.documentimg {
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
}

.nav {
  background-color: #1e293b;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.nav li {
  cursor: pointer;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav a:hover {
  color: #00bfff;
  transform: scale(1.1);
}

.nav a.active {
  color: #00bfff;
  border-bottom: 2px solid #00bfff;
  padding-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .nav {
    padding: 0.5rem;
  }

  .nav ul {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .nav a {
    font-size: 1rem;
  }
}
