.container {
  padding: 20px;
}

.pageTitle {
  color: var(--color-text);
}

.errorContainer {
  color: var(--color-text);
}

.credentialsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.credentialsPre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.75rem;
  margin-top: 10px;
  width: 100%;
}

.copyButton {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.copyButton:hover {
  background-color: var(--color-primary-hover);
}

.statusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.expireContainer {
  display: flex;
  align-items: center;
}

.expireText {
  margin-right: 8px;
  color: var(--color-text);
}

.popoverContainer {
  position: relative;
  display: inline-block;
}

.questionIcon {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #444444;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #f5f5f5;
}

.popover {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  width: 250px;
  padding: 15px;
  background-color: #2a2a2a;
  border: 1px solid #444444;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #f5f5f5;
}

.popoverContainer:hover .popover,
.popoverContainer .popover:hover {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.statusTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.statusIndicatorText {
  padding-left: 10px;
  color: #03c75a;
}

.statusIndicator {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 10px;
}

.statusIndicator.active,
.statusIndicator.active::before {
  background: #03c75a;
}

.statusIndicator.inactive,
.statusIndicator.inactive::before {
  background: var(--color-primary);
}

.statusIndicator::before {
  content: '';
  display: block;
  position: absolute;
  left: -5px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: pulse 1.5s infinite ease-in;
}

@keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 1;
  }

  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .pageTitle {
    text-align: center;
    font-size: 1.5rem;
  }

  .credentialsContainer {
    align-items: center;
  }

  .copyButton {
    align-self: center;
  }
  .errorContainer {
    text-align: center;
  }
  .statusContainer {
    margin-top: 1rem;
  }
}
