@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Primary colors */
  --color-primary: #cd412b;
  --color-primary-hover: #a02e1c;
  /* Background colors */
  --color-background: #1b1b1b;
  --color-background-light: #e8e8e8;
  /* Text colors */
  --color-text: #ededed;
  --color-text-dark: #101010;
}

body,
button,
input,
textarea,
select,
pre {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
  background-color: var(--color-background);
}
