.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.landingPageTitle {
  gap: 1rem;
}

.rustplusplusActionButton:hover {
  background-color: #ffffff;
  color: #cd412b;
}

.installMessage {
  color: #cd412b;
  margin-top: 20px;
}

.rustplusplusActionButton {
  display: block;
  background: #cd412b;
  border: 1px solid #cd412b;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  text-decoration: none;
  color: #ffffff;
  padding: 12px 14px;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.loadingbox {
  height: 42px;
  width: 157px;
  border-radius: 6px;
  overflow: hidden;
  background: #d0d0d0;
}

.loadingbox::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  animation: loading 1s infinite;
  background: linear-gradient(to right, transparent, #d9d9d9, transparent);
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
