.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.dot {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-primary);
  animation: dotElastic 1s infinite linear;
}

.dot1 {
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 0.1s;
}

.dot3 {
  animation-delay: 0.2s;
}

.dot4 {
  animation-delay: 0.3s;
}

.dot5 {
  animation-delay: 0.4s;
}

@keyframes dotElastic {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
