.sidebar {
  position: sticky;
  top: 115px;
  width: 284px;
  min-width: 284px;
  height: 100%;
  background-color: var(--color-background);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 141px;
    z-index: 100;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 141px);
    transform: translateX(-100%);
  }

  .open {
    transform: translateX(0%);
  }

  .close {
    transform: translateX(-100%);
  }
}
