.container {
  margin: 0.375rem 0;
  list-style: none;
}

.subLinks {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.375rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  text-align: left;
  font-size: 0.875rem;
  color: #ffffff;
  text-decoration: none;
}

.subLinks:hover {
  color: #dbdbdb;
}

.selected {
  color: #006ffe;
}
