.table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
  color: var(--color-text);
}

.table tr {
  border-top: #30363db3;
}

.table tr:nth-child(odd) {
  background-color: #0d1117;
}

.table tr:nth-child(even) {
  background-color: #1e293b;
}
