.sidebarButton {
  display: none;
}

@media (max-width: 768px) {
  .sidebarButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}
